Source/_WIP/TeaCommerce.PaymentProviders.Wannafind/Web References/WannafindService/customerAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:pgwapi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:pgwapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:pgwapi">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="returnArray">
        <xsd:all>
          <xsd:element returnArray="returncode" name="returncode" type="xsd:int" />
          <xsd:element returnArray="transactnum" name="transactnum" type="xsd:string" />
          <xsd:element returnArray="currency" name="currency" type="xsd:string" />
          <xsd:element returnArray="amount" name="amount" type="xsd:int" />
          <xsd:element returnArray="cardtype" name="cardtype" type="xsd:string" />
          <xsd:element returnArray="orderidprefix" name="orderidprefix" type="xsd:string" />
          <xsd:element returnArray="orderid" name="orderid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="subscriber_returnArray">
        <xsd:all>
          <xsd:element returnArray="returncode" name="returncode" type="xsd:int" />
          <xsd:element returnArray="transactnum" name="transactnum" type="xsd:string" />
          <xsd:element returnArray="amount" name="amount" type="xsd:int" />
          <xsd:element returnArray="orderidprefix" name="orderidprefix" type="xsd:string" />
          <xsd:element returnArray="orderid" name="orderid" type="xsd:string" />
          <xsd:element returnArray="acquirerstatus" name="acquirerstatus" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="captureTransactionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
    <wsdl:part name="amount" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="captureTransactionResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="cancelTransactionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="cancelTransactionResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="releaseSubscriptionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="releaseSubscriptionResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="changeAmountRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
    <wsdl:part name="amount" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="changeAmountResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="checkTransactionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
    <wsdl:part name="type" type="xsd:string" />
    <wsdl:part name="orderid" type="xsd:string" />
    <wsdl:part name="bankMerchantID" type="xsd:string" />
    <wsdl:part name="boNo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkTransactionResponse">
    <wsdl:part name="return" type="tns:returnArray" />
  </wsdl:message>
  <wsdl:message name="renewTransactionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="renewTransactionResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="authSubscribeRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
    <wsdl:part name="amount" type="xsd:int" />
    <wsdl:part name="orderid" type="xsd:string" />
    <wsdl:part name="orderidprefix" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="authSubscribeResponse">
    <wsdl:part name="return" type="tns:subscriber_returnArray" />
  </wsdl:message>
  <wsdl:message name="creditTransactionRequest">
    <wsdl:part name="transactnum" type="xsd:int" />
    <wsdl:part name="amount" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="creditTransactionResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:portType name="pgwapiPortType">
    <wsdl:operation name="captureTransaction">
      <documentation>Capture transactions</documentation>
      <wsdl:input message="tns:captureTransactionRequest" />
      <wsdl:output message="tns:captureTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelTransaction">
      <documentation>Cancel transactions</documentation>
      <wsdl:input message="tns:cancelTransactionRequest" />
      <wsdl:output message="tns:cancelTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="releaseSubscription">
      <documentation>Release subscription</documentation>
      <wsdl:input message="tns:releaseSubscriptionRequest" />
      <wsdl:output message="tns:releaseSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="changeAmount">
      <documentation>Change Amount</documentation>
      <wsdl:input message="tns:changeAmountRequest" />
      <wsdl:output message="tns:changeAmountResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkTransaction">
      <documentation>Check Transaction</documentation>
      <wsdl:input message="tns:checkTransactionRequest" />
      <wsdl:output message="tns:checkTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewTransaction">
      <documentation>Renew Transaction</documentation>
      <wsdl:input message="tns:renewTransactionRequest" />
      <wsdl:output message="tns:renewTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="authSubscribe">
      <documentation>Subscriber authentication ( Recurring transactions )</documentation>
      <wsdl:input message="tns:authSubscribeRequest" />
      <wsdl:output message="tns:authSubscribeResponse" />
    </wsdl:operation>
    <wsdl:operation name="creditTransaction">
      <documentation>Credit Transaction ( Refound payment )</documentation>
      <wsdl:input message="tns:creditTransactionRequest" />
      <wsdl:output message="tns:creditTransactionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pgwapiBinding" type="tns:pgwapiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="captureTransaction">
      <soap:operation soapAction="urn:pgwapi#captureTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelTransaction">
      <soap:operation soapAction="urn:pgwapi#cancelTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseSubscription">
      <soap:operation soapAction="urn:pgwapi#releaseSubscription" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAmount">
      <soap:operation soapAction="urn:pgwapi#changeAmount" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkTransaction">
      <soap:operation soapAction="urn:pgwapi#checkTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewTransaction">
      <soap:operation soapAction="urn:pgwapi#renewTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authSubscribe">
      <soap:operation soapAction="urn:pgwapi#authSubscribe" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditTransaction">
      <soap:operation soapAction="urn:pgwapi#creditTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pgwapi" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pgwapi">
    <wsdl:port name="pgwapiPort" binding="tns:pgwapiBinding">
      <soap:address location="https://betaling.wannafind.dk/api/customerAPI.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>