Source/TeaCommerce.PaymentProviders/Web References/PayerService/PaymentGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WSDL:definitions xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/" xmlns:tns="https://secure.pay-read.se" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="https://secure.pay-read.se" name="PaymentGateway" targetNamespace="https://secure.pay-read.se" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">
  <WSDL:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="https://secure.pay-read.se">
      <xsd:import schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="OrderEntry">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="EntryType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Position" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ItemNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UnitQty" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Price" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SubTotal" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="VatPercentage" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOrderEntry">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="ns:OrderEntry" />
            </xsd:sequence>
            <xsd:attribute WSDL:arrayType="ns:OrderEntry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FirstName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ZipCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Town" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CellPhone" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Transaction">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Cost" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Vat" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustomerAccount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsDebited" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsTest" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionStatus">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TransactionId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Cost" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Paid" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Vat" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustomerAccount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsDebited" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsTest" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InitializeInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PaReq" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AcsUrl" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResponseText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthorizeInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AuthCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AuthCodeResp" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResponseText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SettleInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ChargeLogId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResponseText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RefundInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResponseText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthReverseInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResponseText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhoneCallInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="DialCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResumeId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhoneNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WSDL:types>
  <WSDL:message name="TestAddIntRequest">
    <WSDL:part name="a" type="xsd:int" />
    <WSDL:part name="b" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="TestAddIntResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="GetUserIdByTransactionIdRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="TransactionId" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="GetUserIdByTransactionIdResponse">
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserTokenByLoginInfoRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="Password" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserTokenByLoginInfoResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserTokenByUserIdRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserTokenByUserIdResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SetCustomerIdRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="CustomerId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SetCustomerIdResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetTariffRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="CustomerId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetTariffResponse">
    <WSDL:part name="TariffId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SetTariffRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="CustomerId" type="xsd:string" />
    <WSDL:part name="TariffId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SetTariffResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UpdateUserRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="StreetAddress" type="xsd:string" />
    <WSDL:part name="ZipCode" type="xsd:string" />
    <WSDL:part name="Town" type="xsd:string" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="Phone" type="xsd:string" />
    <WSDL:part name="CellPhone" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UpdateUserResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UserExistsRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UserExistsResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUser">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserResult">
    <WSDL:part name="Result" type="ns:UserResult" />
  </WSDL:message>
  <WSDL:message name="GetTransactionById">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="TransactionId" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="GetTransactionByIdResult">
    <WSDL:part name="Result" type="ns:Transaction" />
  </WSDL:message>
  <WSDL:message name="GetTransactionStatus">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="TransactionId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetTransactionStatusResult">
    <WSDL:part name="Result" type="ns:TransactionStatus" />
  </WSDL:message>
  <WSDL:message name="GetServiceTimerRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="TimerName" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetServiceTimerResponse">
    <WSDL:part name="Expiry" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="ModifyServiceTimerRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="TimerName" type="xsd:string" />
    <WSDL:part name="Command" type="xsd:string" />
    <WSDL:part name="TimeValue" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="ModifyServiceTimerResponse">
    <WSDL:part name="Expiry" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="PingRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="PingResponse">
    <WSDL:part name="AgentId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="DestroySessionRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="DestroySessionResponse">
    <WSDL:part name="Result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateSessionRequest">
    <WSDL:part name="AgentId" type="xsd:string" />
    <WSDL:part name="Password" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateSessionResponse">
    <WSDL:part name="SessionId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateSessionExRequest">
    <WSDL:part name="UserId" type="xsd:string" />
    <WSDL:part name="Password" type="xsd:string" />
    <WSDL:part name="AgentId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateSessionExResponse">
    <WSDL:part name="SessionId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="ChangeSessionIdRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="SessionIdNew" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="ChangeSessionIdResponse">
    <WSDL:part name="SessionIdOut" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SimpleDebitExRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserToken" type="xsd:string" />
    <WSDL:part name="Cost" type="xsd:double" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="Currency" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SimpleDebitExResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="SimpleDebitRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="UserToken" type="xsd:string" />
    <WSDL:part name="Cost" type="xsd:double" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="SimpleDebitResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="CreateInvoiceEntryRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="Cost" type="xsd:double" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="Currency" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="StreetAddress" type="xsd:string" />
    <WSDL:part name="ZipCode" type="xsd:string" />
    <WSDL:part name="Town" type="xsd:string" />
    <WSDL:part name="Phone" type="xsd:string" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="PersonalId" type="xsd:string" />
    <WSDL:part name="CellPhone" type="xsd:string" />
    <WSDL:part name="Company" type="xsd:string" />
    <WSDL:part name="CountryId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateInvoiceEntryResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="RegisterUserRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="StreetAddress" type="xsd:string" />
    <WSDL:part name="ZipCode" type="xsd:string" />
    <WSDL:part name="Town" type="xsd:string" />
    <WSDL:part name="Phone" type="xsd:string" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="PersonalId" type="xsd:string" />
    <WSDL:part name="CellPhone" type="xsd:string" />
    <WSDL:part name="IsCompany" type="xsd:int" />
    <WSDL:part name="Company" type="xsd:string" />
    <WSDL:part name="CountryId" type="xsd:string" />
    <WSDL:part name="LanguageId" type="xsd:string" />
    <WSDL:part name="Gender" type="xsd:int" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="TariffId" type="xsd:int" />
    <WSDL:part name="CustomerId" type="xsd:string" />
    <WSDL:part name="RegisterOptions" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="RegisterUserResponse">
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="Initialize">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="Address1" type="xsd:string" />
    <WSDL:part name="Address2" type="xsd:string" />
    <WSDL:part name="PostalCode" type="xsd:string" />
    <WSDL:part name="City" type="xsd:string" />
    <WSDL:part name="Country" type="xsd:string" />
    <WSDL:part name="CardType" type="xsd:int" />
    <WSDL:part name="CardNumber" type="xsd:string" />
    <WSDL:part name="CvcCode" type="xsd:string" />
    <WSDL:part name="ExpiryMonth" type="xsd:int" />
    <WSDL:part name="ExpiryYear" type="xsd:int" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
    <WSDL:part name="VatAmount" type="xsd:double" />
    <WSDL:part name="Currency" type="xsd:string" />
    <WSDL:part name="HttpAcceptHeader" type="xsd:string" />
    <WSDL:part name="HttpUserAgentHeader" type="xsd:string" />
    <WSDL:part name="ReferenceNumber" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="InitializeInfoResult">
    <WSDL:part name="Result" type="ns:InitializeInfo" />
  </WSDL:message>
  <WSDL:message name="Authorize3DS">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="PaymentId" type="xsd:string" />
    <WSDL:part name="PaRes" type="xsd:string" />
    <WSDL:part name="Extra" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="Authorize3DSResult">
    <WSDL:part name="Result" type="ns:AuthorizeInfo" />
  </WSDL:message>
  <WSDL:message name="Authorize">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="Address1" type="xsd:string" />
    <WSDL:part name="Address2" type="xsd:string" />
    <WSDL:part name="PostalCode" type="xsd:string" />
    <WSDL:part name="City" type="xsd:string" />
    <WSDL:part name="Country" type="xsd:string" />
    <WSDL:part name="CardType" type="xsd:int" />
    <WSDL:part name="CardNumber" type="xsd:string" />
    <WSDL:part name="CvcCode" type="xsd:string" />
    <WSDL:part name="ExpiryMonth" type="xsd:int" />
    <WSDL:part name="ExpiryYear" type="xsd:int" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
    <WSDL:part name="VatAmount" type="xsd:double" />
    <WSDL:part name="Currency" type="xsd:string" />
    <WSDL:part name="ReferenceNumber" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="AuthorizeResult">
    <WSDL:part name="Result" type="ns:AuthorizeInfo" />
  </WSDL:message>
  <WSDL:message name="Settle">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="PaymentId" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
  </WSDL:message>
  <WSDL:message name="SettleResult">
    <WSDL:part name="Result" type="ns:SettleInfo" />
  </WSDL:message>
  <WSDL:message name="Refund">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="PaymentId" type="xsd:string" />
    <WSDL:part name="Reason" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
  </WSDL:message>
  <WSDL:message name="RefundResult">
    <WSDL:part name="Result" type="ns:RefundInfo" />
  </WSDL:message>
  <WSDL:message name="AuthReverse">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="PaymentId" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
  </WSDL:message>
  <WSDL:message name="AuthReverseResult">
    <WSDL:part name="Result" type="ns:AuthReverseInfo" />
  </WSDL:message>
  <WSDL:message name="GetUserIdByDialCodeRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="DialCode" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="GetUserIdByDialCodeResponse">
    <WSDL:part name="UserId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateDialCode">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="ServiceName" type="xsd:string" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="Price" type="xsd:double" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateDialCodeResult">
    <WSDL:part name="Result" type="ns:PhoneCallInfo" />
  </WSDL:message>
  <WSDL:message name="SimpleRefundRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="TransactionId" type="xsd:int" />
    <WSDL:part name="Reason" type="xsd:string" />
    <WSDL:part name="Amount" type="xsd:double" />
  </WSDL:message>
  <WSDL:message name="SimpleRefundResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="UpdatePartnerRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="PartnerId" type="xsd:int" />
    <WSDL:part name="OrgNumber" type="xsd:string" />
    <WSDL:part name="Name" type="xsd:string" />
    <WSDL:part name="Address1" type="xsd:string" />
    <WSDL:part name="Address2" type="xsd:string" />
    <WSDL:part name="ZipCode" type="xsd:string" />
    <WSDL:part name="Town" type="xsd:string" />
    <WSDL:part name="CountryId" type="xsd:string" />
    <WSDL:part name="Telephone" type="xsd:string" />
    <WSDL:part name="Telefax" type="xsd:string" />
    <WSDL:part name="EconomyContactEmail" type="xsd:string" />
    <WSDL:part name="TechnicalContactEmail" type="xsd:string" />
    <WSDL:part name="CustomerContactEmail" type="xsd:string" />
    <WSDL:part name="URL" type="xsd:string" />
    <WSDL:part name="AccountType" type="xsd:string" />
    <WSDL:part name="Account" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UpdatePartnerResponse">
    <WSDL:part name="AgentId" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateDirectOrderRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="OrderNumber" type="xsd:string" />
    <WSDL:part name="OrderTotal" type="xsd:double" />
    <WSDL:part name="Description" type="xsd:string" />
    <WSDL:part name="Message" type="xsd:string" />
    <WSDL:part name="CustomerId" type="xsd:string" />
    <WSDL:part name="FirstName" type="xsd:string" />
    <WSDL:part name="LastName" type="xsd:string" />
    <WSDL:part name="CoAddress" type="xsd:string" />
    <WSDL:part name="Address" type="xsd:string" />
    <WSDL:part name="ZipCode" type="xsd:string" />
    <WSDL:part name="Town" type="xsd:string" />
    <WSDL:part name="Phone" type="xsd:string" />
    <WSDL:part name="CellPhone" type="xsd:string" />
    <WSDL:part name="Email" type="xsd:string" />
    <WSDL:part name="PersonalId" type="xsd:string" />
    <WSDL:part name="Company" type="xsd:string" />
    <WSDL:part name="CountryId" type="xsd:string" />
    <WSDL:part name="Currency" type="xsd:string" />
    <WSDL:part name="ClientIp" type="xsd:string" />
    <WSDL:part name="OrderEntries" type="ns:ArrayOfOrderEntry" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="CreateDirectOrderResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="AddArticleRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="ArticleNo" type="xsd:string" />
    <WSDL:part name="ArticleDescription" type="xsd:string" />
    <WSDL:part name="ArticleTemplate" type="xsd:string" />
    <WSDL:part name="Periodicity" type="xsd:string" />
    <WSDL:part name="Period" type="xsd:int" />
    <WSDL:part name="Price" type="xsd:double" />
    <WSDL:part name="Unit" type="xsd:string" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="CustomerAccountId" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="AddArticleResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="DeleteArticleRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="ArticleNo" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="DeleteArticleResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="UpdateArticleRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="ArticleNo" type="xsd:string" />
    <WSDL:part name="ArticleDescription" type="xsd:string" />
    <WSDL:part name="ArticleTemplate" type="xsd:string" />
    <WSDL:part name="Periodicity" type="xsd:string" />
    <WSDL:part name="Period" type="xsd:int" />
    <WSDL:part name="Price" type="xsd:double" />
    <WSDL:part name="Unit" type="xsd:string" />
    <WSDL:part name="Vat" type="xsd:double" />
    <WSDL:part name="CustomerAccountId" type="xsd:string" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="UpdateArticleResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:message name="ChargeRequest">
    <WSDL:part name="SessionId" type="xsd:string" />
    <WSDL:part name="ArticleNo" type="xsd:string" />
    <WSDL:part name="Quantity" type="xsd:int" />
    <WSDL:part name="Options" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="ChargeResponse">
    <WSDL:part name="Result" type="xsd:int" />
  </WSDL:message>
  <WSDL:portType name="PaymentGatewayPortType">
    <WSDL:operation name="TestAddInt">
      <documentation>Test SOAP-server by adding 2 integers</documentation>
      <WSDL:input message="ns:TestAddIntRequest" />
      <WSDL:output message="ns:TestAddIntResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetUserIdByTransactionId">
      <documentation>Get the user id for a transaction</documentation>
      <WSDL:input message="ns:GetUserIdByTransactionIdRequest" />
      <WSDL:output message="ns:GetUserIdByTransactionIdResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetUserTokenByLoginInfo">
      <documentation>Get a user token by a user id and a user password</documentation>
      <WSDL:input message="ns:GetUserTokenByLoginInfoRequest" />
      <WSDL:output message="ns:GetUserTokenByLoginInfoResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetUserTokenByUserId">
      <documentation>Get a user token by a specified user id</documentation>
      <WSDL:input message="ns:GetUserTokenByUserIdRequest" />
      <WSDL:output message="ns:GetUserTokenByUserIdResponse" />
    </WSDL:operation>
    <WSDL:operation name="SetCustomerId">
      <documentation>Set a customer id for a specific user</documentation>
      <WSDL:input message="ns:SetCustomerIdRequest" />
      <WSDL:output message="ns:SetCustomerIdResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetTariff">
      <documentation>Get a tariff for a specific user</documentation>
      <WSDL:input message="ns:GetTariffRequest" />
      <WSDL:output message="ns:GetTariffResponse" />
    </WSDL:operation>
    <WSDL:operation name="SetTariff">
      <documentation>Set a tariff for a specific user</documentation>
      <WSDL:input message="ns:SetTariffRequest" />
      <WSDL:output message="ns:SetTariffResponse" />
    </WSDL:operation>
    <WSDL:operation name="UpdateUser">
      <documentation>Update unser information for the specified user</documentation>
      <WSDL:input message="ns:UpdateUserRequest" />
      <WSDL:output message="ns:UpdateUserResponse" />
    </WSDL:operation>
    <WSDL:operation name="UserExists">
      <documentation>Check if the specified user exists</documentation>
      <WSDL:input message="ns:UserExistsRequest" />
      <WSDL:output message="ns:UserExistsResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetUser">
      <documentation>Get user information by user id</documentation>
      <WSDL:input message="ns:GetUser" />
      <WSDL:output message="ns:GetUserResult" />
    </WSDL:operation>
    <WSDL:operation name="GetTransactionById">
      <documentation>Get transaction info by transaction id</documentation>
      <WSDL:input message="ns:GetTransactionById" />
      <WSDL:output message="ns:GetTransactionByIdResult" />
    </WSDL:operation>
    <WSDL:operation name="GetTransactionStatus">
      <documentation>Get transaction info by transaction id or payment id</documentation>
      <WSDL:input message="ns:GetTransactionStatus" />
      <WSDL:output message="ns:GetTransactionStatusResult" />
    </WSDL:operation>
    <WSDL:operation name="GetServiceTimer">
      <documentation>Retrieves the expirytime of a service timer</documentation>
      <WSDL:input message="ns:GetServiceTimerRequest" />
      <WSDL:output message="ns:GetServiceTimerResponse" />
    </WSDL:operation>
    <WSDL:operation name="ModifyServiceTimer">
      <documentation>Modify a service timer</documentation>
      <WSDL:input message="ns:ModifyServiceTimerRequest" />
      <WSDL:output message="ns:ModifyServiceTimerResponse" />
    </WSDL:operation>
    <WSDL:operation name="Ping">
      <documentation>This function is used to test the connection to the SOAP server and validate that SessionId is correct</documentation>
      <WSDL:input message="ns:PingRequest" />
      <WSDL:output message="ns:PingResponse" />
    </WSDL:operation>
    <WSDL:operation name="DestroySession">
      <documentation>Destroys a session created with CreateSession</documentation>
      <WSDL:input message="ns:DestroySessionRequest" />
      <WSDL:output message="ns:DestroySessionResponse" />
    </WSDL:operation>
    <WSDL:operation name="CreateSession">
      <documentation>This function creates a session that is used for validation in subsequent calls to other functions. Credentials are specified as AgentId and Password. </documentation>
      <WSDL:input message="ns:CreateSessionRequest" />
      <WSDL:output message="ns:CreateSessionResponse" />
    </WSDL:operation>
    <WSDL:operation name="CreateSessionEx">
      <documentation>Service definition of function ns__CreateSessionEx</documentation>
      <WSDL:input message="ns:CreateSessionExRequest" />
      <WSDL:output message="ns:CreateSessionExResponse" />
    </WSDL:operation>
    <WSDL:operation name="ChangeSessionId">
      <documentation>Service definition of function ns__ChangeSessionId</documentation>
      <WSDL:input message="ns:ChangeSessionIdRequest" />
      <WSDL:output message="ns:ChangeSessionIdResponse" />
    </WSDL:operation>
    <WSDL:operation name="SimpleDebitEx">
      <documentation>Provides the same functionality as SimpleDebit, but takes an additionally CurrencyId parameter</documentation>
      <WSDL:input message="ns:SimpleDebitExRequest" />
      <WSDL:output message="ns:SimpleDebitExResponse" />
    </WSDL:operation>
    <WSDL:operation name="SimpleDebit">
      <documentation>This function makes a simple debit (i.e. not a card-debit) for the User corresponding to the specified UserToken</documentation>
      <WSDL:input message="ns:SimpleDebitRequest" />
      <WSDL:output message="ns:SimpleDebitResponse" />
    </WSDL:operation>
    <WSDL:operation name="CreateInvoiceEntry">
      <documentation>This function creates an invoice entry in the charelog.</documentation>
      <WSDL:input message="ns:CreateInvoiceEntryRequest" />
      <WSDL:output message="ns:CreateInvoiceEntryResponse" />
    </WSDL:operation>
    <WSDL:operation name="RegisterUser">
      <documentation>Creates a Pay-read user and returns the UserId for the created user</documentation>
      <WSDL:input message="ns:RegisterUserRequest" />
      <WSDL:output message="ns:RegisterUserResponse" />
    </WSDL:operation>
    <WSDL:operation name="Initialize">
      <documentation>Sets card and card holder data and tells us the next step - Authorize3DS() or Authorize()</documentation>
      <WSDL:input message="ns:Initialize" />
      <WSDL:output message="ns:InitializeInfoResult" />
    </WSDL:operation>
    <WSDL:operation name="Authorize3DS">
      <documentation>This function returns the necessary data to proceed with Settlement.</documentation>
      <WSDL:input message="ns:Authorize3DS" />
      <WSDL:output message="ns:Authorize3DSResult" />
    </WSDL:operation>
    <WSDL:operation name="Authorize">
      <documentation>Authorizes cards that is not Mastercard or VISA.</documentation>
      <WSDL:input message="ns:Authorize" />
      <WSDL:output message="ns:AuthorizeResult" />
    </WSDL:operation>
    <WSDL:operation name="Settle">
      <documentation>This method perform the final transaction</documentation>
      <WSDL:input message="ns:Settle" />
      <WSDL:output message="ns:SettleResult" />
    </WSDL:operation>
    <WSDL:operation name="Refund">
      <documentation>Reverses the transaction against card holder fully or partially.</documentation>
      <WSDL:input message="ns:Refund" />
      <WSDL:output message="ns:RefundResult" />
    </WSDL:operation>
    <WSDL:operation name="AuthReverse">
      <documentation>This method releases the customers reservation. </documentation>
      <WSDL:input message="ns:AuthReverse" />
      <WSDL:output message="ns:AuthReverseResult" />
    </WSDL:operation>
    <WSDL:operation name="GetUserIdByDialCode">
      <documentation>Returns the user if corresponding to the specified dial code</documentation>
      <WSDL:input message="ns:GetUserIdByDialCodeRequest" />
      <WSDL:output message="ns:GetUserIdByDialCodeResponse" />
    </WSDL:operation>
    <WSDL:operation name="CreateDialCode">
      <documentation>Creates a new dialcode and returns the DialCode along withj the phonenumber and ResumeId.</documentation>
      <WSDL:input message="ns:CreateDialCode" />
      <WSDL:output message="ns:CreateDialCodeResult" />
    </WSDL:operation>
    <WSDL:operation name="SimpleRefund">
      <documentation>Refunds a whole or a part of a transaction</documentation>
      <WSDL:input message="ns:SimpleRefundRequest" />
      <WSDL:output message="ns:SimpleRefundResponse" />
    </WSDL:operation>
    <WSDL:operation name="UpdatePartner">
      <documentation>Service definition of function ns__UpdatePartner</documentation>
      <WSDL:input message="ns:UpdatePartnerRequest" />
      <WSDL:output message="ns:UpdatePartnerResponse" />
    </WSDL:operation>
    <WSDL:operation name="CreateDirectOrder">
      <documentation>Place an order to order handling subsystem</documentation>
      <WSDL:input message="ns:CreateDirectOrderRequest" />
      <WSDL:output message="ns:CreateDirectOrderResponse" />
    </WSDL:operation>
    <WSDL:operation name="AddArticle">
      <documentation>Service definition of function ns__AddArticle</documentation>
      <WSDL:input message="ns:AddArticleRequest" />
      <WSDL:output message="ns:AddArticleResponse" />
    </WSDL:operation>
    <WSDL:operation name="DeleteArticle">
      <documentation>Service definition of function ns__DeleteArticle</documentation>
      <WSDL:input message="ns:DeleteArticleRequest" />
      <WSDL:output message="ns:DeleteArticleResponse" />
    </WSDL:operation>
    <WSDL:operation name="UpdateArticle">
      <documentation>Service definition of function ns__UpdateArticle</documentation>
      <WSDL:input message="ns:UpdateArticleRequest" />
      <WSDL:output message="ns:UpdateArticleResponse" />
    </WSDL:operation>
    <WSDL:operation name="Charge">
      <documentation>Service definition of function ns__Charge</documentation>
      <WSDL:input message="ns:ChargeRequest" />
      <WSDL:output message="ns:ChargeResponse" />
    </WSDL:operation>
  </WSDL:portType>
  <WSDL:binding name="PaymentGateway" type="ns:PaymentGatewayPortType">
    <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <WSDL:operation name="TestAddInt">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetUserIdByTransactionId">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetUserTokenByLoginInfo">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetUserTokenByUserId">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SetCustomerId">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetTariff">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SetTariff">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="UpdateUser">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="UserExists">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetUser">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetTransactionById">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetTransactionStatus">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetServiceTimer">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ModifyServiceTimer">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Ping">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="DestroySession">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CreateSession">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CreateSessionEx">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ChangeSessionId">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SimpleDebitEx">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SimpleDebit">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CreateInvoiceEntry">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="RegisterUser">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Initialize">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Authorize3DS">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Authorize">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Settle">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Refund">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="AuthReverse">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetUserIdByDialCode">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CreateDialCode">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SimpleRefund">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="UpdatePartner">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CreateDirectOrder">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="AddArticle">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="DeleteArticle">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="UpdateArticle">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Charge">
      <SOAP:operation soapAction="" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="https://secure.pay-read.se" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
  </WSDL:binding>
  <WSDL:service name="PaymentGateway">
    <documentation>gSOAP 2.7.17 generated service definition</documentation>
    <WSDL:port name="PaymentGateway" binding="ns:PaymentGateway">
      <SOAP:address location="https://secure.pay-read.se/soap/PayReadSoapServer_V2.cgi" />
    </WSDL:port>
  </WSDL:service>
</WSDL:definitions>